* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.bg-image {
    background-image: url('../images/bg_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.filter-blur {
    background: rgba(8, 8, 8, 0.5);
    backdrop-filter: blur(4px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 20px 40px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.nav-menu li {
    list-style-type: none;
}

/* Logo */
.logo {
    width: 25%;
}

.nav-menu li:last-child {
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li a {
    text-decoration: none;
    color: #fff;
}

.nav-menu li a:hover {
    text-decoration: underline;
}

.heading-container {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    z-index: 2;
}

.heading-container h1 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 500;
    border-left: 4px solid rgb(91, 146, 234);
    padding: 0 5px;
}

.btn {
    padding: 16px 32px;
    border: none;
    border-radius: 10px;
    background: #fae740;
    color: #3e507a;
    font-size: large;
    cursor: pointer;
}

.btn:hover {
    background: #b9a91b;
    color: #fff;
}